<div class="container-fluid" id="homePage">
  <img src="../public/images/greenbackground" alt="">

  <h1 id="homePageTitle">COLOR MATCH</h1>
  <a href="https://i.pinimg.com/564x/75/a7/cc/75a7cc97ff1357e5d1a3e4bb0abe2f95.jpg"><div class="colorwheel">
      <h2 id="secondTitle">Color Chart!</h2>
    </div></a>
</div>

<div class="navigation">
  <nav class="navbar fixed-bottom bg-white">
    <a class="navbar-brand"> HOME </a>
    <a class="navbar-brand"> ABOUT </a>
    <a class="navbar-brand" href="/users/new"> SIGN UP </a>
    <a class="navbar-brand" href="/gallery"> GALLERY </a>




  </nav>
</div>