
   <form method="POST" action="/users/{{user._id}}?_method=PUT"  >

<div>                
    <input type="'name'" name="name">
 </div>

 <div>
    <button type="submit"> update profile </button>
</div>
</form>

<div class="navigation">
<nav class="navbar fixed-bottom bg-white">
  <a class="navbar-brand"> HOME </a>
  <a class="navbar-brand"> ABOUT </a>
  <a class="navbar-brand"  href="/users/new"> SIGN UP </a>
  <a class="navbar-brand" href="/gallery"> GALLERY </a>
  <a class="navbar-brand" href="/products"> PRODUCTS </a>
      
 

</nav>