
   <form action="/users/{{users._id}}?_method=PATCH" method="PUT" >
<button type="submit" id=""> update profile </button>

    <input type="'name'">
</form>

<div class="navigation">
<nav class="navbar fixed-bottom bg-white">
  <a class="navbar-brand"> HOME </a>
  <a class="navbar-brand"> ABOUT </a>
  <a class="navbar-brand"  href="/users/new"> SIGN UP </a>
  <a class="navbar-brand" href="/gallery"> GALLERY </a>
  <a class="navbar-brand" href="/products"> PRODUCTS </a>
      
 

</nav>