{{!-- sign i form --}}
	<div id="signIn">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Find Your Match!</h2>
		    <form class="login-form" action="/users" method="post">
  <div class="form-group">
    <label  class="text-uppercase">Username</label>
    <input type="text" class="form-control" placeholder="">
    
  </div>
  <div class="form-group">
    <label  class="text-uppercase">Email</label>
    <input type="email" class="form-control" placeholder="">
  </div>
  <div class="form-group">
    <label  class="text-uppercase">Password</label>
    <input type="password" class="form-control" placeholder="">
  </div>
  
  
    <div class="form-check">
    <label class="form-check-label">

    </label>
    <button type="submit" class="btn btn-login float-right">Submit</button>
  </div>
  
</form>
		</div>
   
        <div id="banner-text">
            <p>Match makes it easy for me to find make-up without wasting money or time 
            <br> @theblvcklioness </p>
             <p>Color Match: #585</p>
            </div>	 
		</div>
	</div>
</div>
