<h1>{{title}}</h1>
<p>Hello  {{user.name}}!</p>
<div class="container">
    user profile

</div>
<form action="/users{{users._id}}?_method=PATCH" method="">
<button type="submit"> UPDATE </button>
</form>

<form action="/{{users._id}}?_method=DELETE" method="">
<button type="submit"> DELETE </button>
</form>