
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>

<div class="col" id="col2">
      2 of 2
    </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>









<div class="container">
    user profile
     {{user.name}}!
    
    <div> lip list
<a href="/users/:userId/list/:listId"><button>list</button> </a>
    </div>


</div>
<form action="/users{{users._id}}?_method=PATCH" method="">
<button type="submit"> UPDATE </button>
</form>


<a href="users/edit"><button  type="submit" > edit </button></a>

<form action="/users/{{user._id}}?_method=DELETE" method="POST">
<button type="submit"> DELETE </button>
</form> 

