<div class="container">
  <div class="row">

    <div class="col" id="col1">


      <div class="col" id="col2">

        <h1 id="userProfileName">Hello {{user.name}}!</h1>
        <div class="colormatch"> </div>
        {{!--
        <p id="userProfileP">change</p> --}}
        <h2 id="colorMatch">Color-Match</h2>
        <p id="userProfileP"> #{{user.skintone}}</p>

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col" id="col3">
      <a href="/users/:userId/list/:listId"> <button id="lips"><h1>LIPS</h1></button></a>
    </div>
    <div class="col" id="col4">
      <button id="lips"><h1>CHEEKS</h1></button>
    </div>
    <div class="col" id="col5">
      <button id="lips"><h1>EYES</h1></button>
    </div>
  </div>
  <form action="/users/{{user._id}}?_method=DELETE" method="post">
    <button type="submit" id="delete"> delete profile </button>
  </form>
  <form action="/users{{users._id}}?_method=PATCH" method="">
    <button type="submit" id="update"> UPDATE </button>
  </form>
</div>







<a href="users/edit"><button type="submit"> edit </button></a>

</div>




<div class="navigation">
  <nav class="navbar fixed-bottom bg-white">
    <a class="navbar-brand"> HOME </a>
    <a class="navbar-brand"> ABOUT </a>
    <a class="navbar-brand" href="/users/new"> SIGN UP </a>
    <a class="navbar-brand" href="/gallery"> GALLERY </a>
    <a class="navbar-brand" href="/products"> PRODUCTS </a>



  </nav>