<h1>{{title}}</h1>
<p>Hello  {{user.name}}!</p>
<div class="container">
    user profile
    
    
    <div> lip list
<a href="/users/:userId/list/:listId"><button>list</button> </a>
    </div>


</div>
<form action="/users{{users._id}}?_method=PATCH" method="">
<button type="submit"> UPDATE </button>
</form>


<a href="users/edit"><button  type="submit" > edit </button></a>

<form action="/users/{{users._id}}" method="DELETE">
<button type="submit"> DELETE </button>
</form>