<body class="products">
  
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
 
</div>
      {{!-- slide one lipstick --}}
    <div class="carousel-item active">
        <div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">A Little Tamed</h5>
       <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S4K001_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 18.50 </p>
  
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> Burning Love </h5>
       <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S4K017_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 18.50 </p>
  
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Devoted To Chili</h5>
      <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S4K031_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 18.50 </p>
    
    </div>
  </div>
</div>
    </div>
    
{{!-- slide two highlighter/blush --}}
    <div class="carousel-item">
          <div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Bright Response</h5>
       <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S5T38K_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 24.50 </p>
    
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> Fever </h5>
       <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_M22039_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 24.50 </p>
  
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Never Say Never</h5>
      <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S5T38E_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 18.50 </p>
  
    </div>
  </div>
</div>
    </div>


{{!-- slide three eyes --}}
    <div class="carousel-item">
        <div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">A Little Tamed</h5>
       <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S4K001_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 18.50 </p>
     
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> Burning Love </h5>
       <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S4K017_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 18.50 </p>
 
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Devoted To Chili</h5>
      <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S4K031_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 18.50 </p>
   
    </div>
  </div>
</div>
    </div>
    
{{!-- slide two highlighter/blush --}}
    <div class="carousel-item">
          <div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Bright Response</h5>
       <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S5T38K_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 24.50 </p>
   
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"> Fever </h5>
       <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_M22039_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 24.50 </p>
     
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Never Say Never</h5>
      <p class="card-text">MAC</p>
      <img class="card-img-top" src="https://www.maccosmetics.com/media/export/cms/products/280x320/mac_sku_S5T38E_280x320_0.jpg" alt="">
     <p class="card-text"> Price: $ 18.50 </p>
     
    </div>
  </div>
</div>
    </div>
  </div>


  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="navigation">
<nav class="navbar fixed-bottom navbar-light bg-white">
  <a class="navbar-brand"> HOME </a>
  <a class="navbar-brand"> ABOUT </a>
  <a class="navbar-brand"> SIGN UP </a>
   <a class="navbar-brand"> GALLERY </a>
  <a class="navbar-brand" href="/products"> Products </a>
      
 

{{!-- 
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> --}}

</nav>
</body>
